/* reset the page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* general*/
.container{
    width: 80%;
    margin: auto;
}
/* start styling the top navbar */
#top-navbar{
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF;
}
#top-navbar ul{
    list-style-type: none;
    float: right;
    line-height: 60px;
    /*margin-right: 50px;*/
}
#top-navbar ul li{
    display: inline-block;
    margin: 0 8px;
    padding: 5px;
}
#top-navbar ul li span{
    padding: 5px;

}
#top-navbar ul li a{
    text-decoration: none;
    color: #bbb;
}
#top-navbar ul li a:hover{
    color: #666;
}
#top-navbar ul li a i{
    color:rgba(0, 0, 0,1);
}
#navbar-mobile{
    padding: 10px;
}
#top-navbar ul li.icon{
    margin: 0 2px;
}
/* end styling the top navbar */

/* start styling the bottom navbar */
#bottom-navbar{
    clear: both;
    background-color: #FFF;
    height: 60px;
}
#bottom-navbar ul{
    list-style-type: none;
    float: right;
    /*margin-right: 50px;*/
    line-height: 60px;
}
#bottom-navbar ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 10px;
}
#bottom-navbar ul li a{
    color: #3289cc;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 10px;
}
#bottom-navbar ul li a:hover{
    background-color: #3289cc;
    color: #fff;
    border-radius: 4px;
}
#bottom-navbar ul li a.active{
    background-color: #3289cc;
    color: #FFF;
    padding: 10px;
    border-radius: 4px;
}
#brand-title{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    /*margin-left: 50px;*/
}
#bottom-navbar ul li.icon{
    margin: 0 2px;
}
#bottom-navbar ul li.icon a{
    margin-left: 10px;
    background: rgba(240,240,240,0.3);
    display: inline-block;
    color: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bolder;
    line-height: 60px;
    border-bottom: 5px solid #ddd;
    padding: unset;

}
#bottom-navbar ul li.icon a i{
    margin-left: 10px;
    position: relative;
    left: 3px;
    top: -7px;
    bottom: 5px;
}
#bottom-navbar ul li.icon a:hover{
    background: #3289cc;
    color: #FFF;
}
/* end styling the bottom navbar */

/* start styling the map section */
#map{
    /*width: 100%;*/
    /*height: 600px;*/
    margin: 40px 0;
}
.route{
    width: 200px;
    margin: 20px auto;
}
.btn{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-route{
    background-color: #3289cc;
    color: #FFFFFF;
    font-weight: bold;
    margin: auto;
    border: none;
    border-radius: 3px;
    text-align: center;
}
/* end styling the map section */

/* start styling the contact section */
.contact{
    display: flex;
}
.contact-form,.contact-info{
    width: 50%;
}
.contact-form-title{
    font-weight: 900;
    font-size: 20px;
}
.contact-form-text{
    text-transform: capitalize;
    color: #bbbbbb;
    margin: 8px 0;
}
#contact-form{
    margin: 20px 0;
}
.row{
    display: flex;
    width: 100%;
}
.row_1{
    display: flex;
    flex-flow: column;
    width: 100%;
}
.form-group{
    padding: 10px;
    width: 100%;
}

.form-control{
    display: block;
    height: 40px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    outline: none;
    font-size: 18px;
}
input:focus{
    border: 1px solid #3289cc;
}
#message{
    height: 280px;
}
/* contact info */
.item{
    margin: 10px;
    line-height: 30px;
    width: 100%;
}
.item .item-icon{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border:  1px solid #3289cc;
    color: #3289cc;
    margin-right: 10px;
    position: relative;
    left: 1px;
}
.item .item-icon i{
    position: absolute;
    left: 10px;
    top: 7px;
}

h6{
    font-family: monospace;
}
.item-info{
    position: relative;
    bottom: 10px;
}
.item-info span{
    color: #aaa;
}
.item-info .email{
    color: #3289cc;
}

.bold{
    font-weight: 900;
    font-size: 20px;
}
.time-item{
    color: #aaa;
}
.times{
    margin-left: 10px;
}

/* end styling contact us section*/
/* start styling getting started section*/
#get-started{
    /*height: 10px;*/
    background-color:rgba(245,245,245,0.7);
    margin: auto;
    text-align: center;
    padding: 50px;
}
.get-started-main-text{
    font-size: 30px;
    margin-bottom: 15px;
}
.keyword{
    font-weight: bold;
}
.btn-start{
    background-color: black;
    width: auto;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 30px;
    padding: 17px;
    border: none;
    border-radius: 6px;
    text-align: center;
}
footer{
    height: 600px;
    background-color: #22262a;
}
.footer{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.footer-section{
    color: #FFFFFF;
    width: 25%;
    margin-top: 100px;
}
.info{
    margin: 20px 0;
}
.title{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 15px;
    margin-bottom: 15px;
}
.contact-icon{
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #666666;
    display: inline-block;
    margin-right: 10px;
}
.contact-icon:hover{
    background-color: #3289cc;
}
.contact-icon i{
    position: relative;
    left: 38%;
    top: 33%;
}

.value{
    color: #bbbbbb;
}
.link{
    cursor: pointer;
}
.link a{
    text-decoration: none;
    color: #bbbbbb;

}
.link a:hover{
    color: #fff;
}
.value:last-child{
    line-height: 30px;
}
.newsletter-input{
    background-color: #3f424559;
    border-radius: 22px;
    border: none;
    width: 80%;
    color: #FFFFFF;
}
.btn-submit{
    width: auto;
    background-color: #3289cc;
}
.btn-submit:hover{
    background-color: #5ea3db;
    cursor: pointer;
}
#to-top{
    width: 50px;
    height: 50px;
    background-color: #666666;
    position: fixed;
    bottom: 0;
    right: 10px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}
#to-top:hover{
    cursor: pointer;
    background: #555252;
}
